<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>移动医疗挂号平台</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" />
    <link rel="stylesheet" href="../css/mobile.css" type="text/css" charset="UTF-8" />
    <link rel="stylesheet" href="../static/css/mobile.css" type="text/css" charset="UTF-8" />




    <link rel="stylesheet" href="../dist/css/swiper.min.css">
    <link rel="stylesheet" href="../static/dist/css/swiper.min.css">
    
    <script src="../dist/js/swiper.min.js"></script>
    <script src="../static/dist/js/swiper.min.js"></script>
    
    <script src="../jquery/jquery-1.11.3.min.js"></script>
    <script src="../static/jquery/jquery-1.11.3.min.js"></script>
    
    <script src="../static/layer/layer.js"></script>
    <script src="../layer/layer.js"></script>

    <script src="../static/js/front.js"></script>
    <script src="../js/front.js"></script>

    <script>
        document.documentElement.style.fontSize = document.documentElement.clientWidth / 7.5 + 'px';
</script>
<!-- 
<script src="../static/js/login.js"></script>
<script src="../js/login.js"></script> -->






</head>
<body>

<!-- 未登录的登陆页面 -->
<div class="front">
    <!-- <div class="front_title">
        
    </div> -->
    <div class="first_front_window">
        <div class="front_window_title">医疗挂号平台的设计与实现</div>

        <div class="my_logo">

        </div>
        <div class="my_name">
            姓名：陈平
        </div>
        <div class="my_number">
            学号：2015210453
        </div>
    </div>
    
</div>

<script>
    // 跳转
    var i =1;
    setInterval(function(){
        console.log(i)
    });
    ref = setInterval(function(){
        if(i>1){
            location.replace("/reglogin");
        }
        i=i+1;
    },20000);
</script>


</body>
</html>

<!-- 360*640 -->
