<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>移动医疗挂号平台</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" />
    <link rel="stylesheet" href="../css/mobile.css" type="text/css" charset="UTF-8" />
    <link rel="stylesheet" href="../static/css/mobile.css" type="text/css" charset="UTF-8" />




    <link rel="stylesheet" href="../dist/css/swiper.min.css">
    <link rel="stylesheet" href="../static/dist/css/swiper.min.css">
    
    <script src="../dist/js/swiper.min.js"></script>
    <script src="../static/dist/js/swiper.min.js"></script>
    
    <script src="../jquery/jquery-1.11.3.min.js"></script>
    <script src="../static/jquery/jquery-1.11.3.min.js"></script>
    
    <script src="../static/layer/layer.js"></script>
    <script src="../layer/layer.js"></script>

    <script>
        document.documentElement.style.fontSize = document.documentElement.clientWidth / 7.5 + 'px';
</script>

<script src="../static/js/main.js"></script>
<script src="../js/main.js"></script>






</head>
<body>
<div class="reg">
        <div class="login_title">
            
        </div>
        <div class="login_window">
            <div class="login_window_title">注册</div>
            <form action="">
                <span>用户名/邮箱/手机号</span>
                <input class="uinput" type="text" placeholder="用户名/邮箱/手机号">
                <span>密码：</span>
                <input id="passwd" class="uinput" type="password" placeholder="密码">
                <span>确认密码：</span>
                <input id="dbpasswd" class="uinput" type="password" placeholder="密码">
                <!-- <div class="check_box clearfix">
                    <input type="checkbox">
                    <span>记住我</span>
                </div> -->
                <button type="button" class="reg_button">立即注册</button> 
            </form>
        </div>
        <div class="login_route">
            <span>
                有账号
            </span>
            <span>
                <u class="log_route">去登录</u>
            </span>
        </div>
</div>


</body>
</html>

<!-- 360*640 -->
